JOORSAND/src/flows/Auto_Create_Renewal-8.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Source_Brand_Retailer_to_New_Collection</name>
        <label>Add Source Brand/Retailer to New Collection</label>
        <locationX>1011</locationX>
        <locationY>534</locationY>
        <assignmentItems>
            <assignToReference>RenewalBrandsRetailers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BrandRetailer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transfer_Brands_Retailers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Source_Product_to_New_Collection</name>
        <label>Add Source Product to New Collection</label>
        <locationX>467</locationX>
        <locationY>643</locationY>
        <assignmentItems>
            <assignToReference>RenewalProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SourceProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TransferSourceProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Source_Brand_Retailer_to_Renewal</name>
        <label>Assign Source Brand/Retailer to Renewal</label>
        <locationX>839</locationX>
        <locationY>534</locationY>
        <assignmentItems>
            <assignToReference>BrandRetailer.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RenewalOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Source_Brand_Retailer_to_New_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Source_Product_to_Renewal</name>
        <label>Assign Source Product to Renewal</label>
        <locationX>296</locationX>
        <locationY>643</locationY>
        <assignmentItems>
            <assignToReference>SourceProduct.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RenewalOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SourceProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Applied_Renewal_Increase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Source_Product_to_New_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Validate_Recurring_Revenue_or_Transactional_Products</name>
        <label>Validate Recurring Revenue or Transactional Products</label>
        <locationX>299</locationX>
        <locationY>531</locationY>
        <defaultConnector>
            <targetReference>TransferSourceProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>One Time Fee Product</defaultConnectorLabel>
        <rules>
            <name>Recurring_Revenue_or_Transactional_Product</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SourceProduct.One_Time_Fee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recurring Revenue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SourceProduct.One_Time_Fee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transactional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Source_Product_to_Renewal</targetReference>
            </connector>
            <label>Recurring Revenue or Transactional Product</label>
        </rules>
    </decisions>
    <description>[Added renewal increase %] Automatically created renewals whenever an Opportunity with a recurring value or transactional product present is Closed Won.</description>
    <formulas>
        <name>Applied_Renewal_Increase</name>
        <dataType>Currency</dataType>
        <expression>{!SourceProduct.UnitPrice}*(1+({!Renewal_Increase_Pct})/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Default set to 30 days before Renewal Contract Start Date.</description>
        <name>RenewalCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!RenewalContractStartDate}-30</expression>
    </formulas>
    <formulas>
        <name>RenewalContractEndDate</name>
        <dataType>Date</dataType>
        <expression>{!RenewalContractStartDate}+{!RenewalContractLength}</expression>
    </formulas>
    <formulas>
        <name>RenewalContractLength</name>
        <dataType>Number</dataType>
        <expression>{!SourceContractEndDate}-{!SourceContractStartDate}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>RenewalContractStartDate</name>
        <dataType>Date</dataType>
        <expression>{!SourceContractEndDate}+1</expression>
    </formulas>
    <interviewLabel>Auto Create Renewal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Create Renewal</label>
    <loops>
        <name>Transfer_Brands_Retailers</name>
        <label>Transfer Brands/Retailers</label>
        <locationX>839</locationX>
        <locationY>406</locationY>
        <assignNextValueToReference>BrandRetailer</assignNextValueToReference>
        <collectionReference>SourceBrandsRetailers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Source_Brand_Retailer_to_Renewal</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateRenewalProducts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>TransferSourceProducts</name>
        <label>TransferSourceProducts</label>
        <locationX>301</locationX>
        <locationY>410</locationY>
        <assignNextValueToReference>SourceProduct</assignNextValueToReference>
        <collectionReference>SourceProductLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Validate_Recurring_Revenue_or_Transactional_Products</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Brands_Retailers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Renewal_Brands_Retailers</name>
        <label>Create Renewal Brands/Retailers</label>
        <locationX>839</locationX>
        <locationY>171</locationY>
        <inputReference>RenewalBrandsRetailers</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Renewal_Opportunity</name>
        <label>Create Renewal Opportunity</label>
        <locationX>302</locationX>
        <locationY>172</locationY>
        <assignRecordIdToReference>RenewalOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>Opportunity_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>SourceAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Renew__c</field>
            <value>
                <elementReference>SourceAutoRenew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>RenewalCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor_Source__c</field>
            <value>
                <elementReference>SourceCompetitorSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_End_Date__c</field>
            <value>
                <elementReference>RenewalContractEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Date__c</field>
            <value>
                <elementReference>RenewalContractStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>SourceLeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>x</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SourceOppOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01246000000H3wW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Opportunity__c</field>
            <value>
                <elementReference>SourceOppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Open Renewal</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>CreateRenewalProducts</name>
        <label>CreateRenewalProducts</label>
        <locationX>839</locationX>
        <locationY>288</locationY>
        <connector>
            <targetReference>Create_Renewal_Brands_Retailers</targetReference>
        </connector>
        <inputReference>RenewalProducts</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Brands_Retailers</name>
        <label>Brands/Retailers</label>
        <locationX>584</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transfer_Brands_Retailers</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SourceOppId</elementReference>
            </value>
        </filters>
        <object>Brand_Retailer__c</object>
        <outputReference>SourceBrandsRetailers</outputReference>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Grab_Source_Opportunity_Data</name>
        <label>Grab Source Opportunity Data</label>
        <locationX>302</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Renewal_Opportunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SourceOppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>SourceAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SourceAutoRenew</assignToReference>
            <field>Auto_Renew__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SourceCompetitorSource</assignToReference>
            <field>Competitor_Source__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SourceContractEndDate</assignToReference>
            <field>Contract_End_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SourceContractStartDate</assignToReference>
            <field>Contract_Start_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SourceLeadSource</assignToReference>
            <field>LeadSource</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SourceOppOwner</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Renewal_Increase_Pct</assignToReference>
            <field>Renewal_Price_Increase__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Opportunity_Products</name>
        <label>Opportunity Products</label>
        <locationX>301</locationX>
        <locationY>292</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TransferSourceProducts</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SourceOppId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>SourceProductLineItems</outputReference>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>One_Time_Fee__c</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <startElementReference>Grab_Source_Opportunity_Data</startElementReference>
    <variables>
        <name>BrandRetailer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Brand_Retailer__c</objectType>
    </variables>
    <variables>
        <name>Renewal_Increase_Pct</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RenewalBrandsRetailers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Brand_Retailer__c</objectType>
    </variables>
    <variables>
        <name>RenewalOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RenewalProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SourceAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SourceAutoRenew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SourceBrandsRetailers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Brand_Retailer__c</objectType>
    </variables>
    <variables>
        <name>SourceCompetitorSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SourceContractEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SourceContractStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SourceLeadSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Passed in from Closed Won Opportunity via &quot;Auto Renewal&quot; Process Builder.</description>
        <name>SourceOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SourceOppOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SourceProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SourceProductLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
