JOORSAND/src/flows/Auto_Create_Renewal-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Source_Brand_Retailer_to_New_Collection</name>
        <label>Add Source Brand/Retailer to New Collection</label>
        <locationX>905</locationX>
        <locationY>543</locationY>
        <assignmentItems>
            <assignToReference>RenewalBrandsRetailers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BrandRetailer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transfer_Brands_Retailers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Source_Product_to_New_Collection</name>
        <label>Add Source Product to New Collection</label>
        <locationX>365</locationX>
        <locationY>546</locationY>
        <assignmentItems>
            <assignToReference>RenewalProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SourceProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TransferSourceProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Source_Brand_Retailer_to_Renewal</name>
        <label>Assign Source Brand/Retailer to Renewal</label>
        <locationX>646</locationX>
        <locationY>546</locationY>
        <assignmentItems>
            <assignToReference>BrandRetailer.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RenewalOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Source_Brand_Retailer_to_New_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Source_Product_to_Renewal</name>
        <label>Assign Source Product to Renewal</label>
        <locationX>104</locationX>
        <locationY>546</locationY>
        <assignmentItems>
            <assignToReference>SourceProduct.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RenewalOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Source_Product_to_New_Collection</targetReference>
        </connector>
    </assignments>
    <description>Automatically created renewals whenever an Opportunity with a recurring value is Closed Won.</description>
    <formulas>
        <name>RenewalContractEndDate</name>
        <dataType>Date</dataType>
        <expression>{!RenewalContractStartDate}+{!RenewalContractLength}</expression>
    </formulas>
    <formulas>
        <name>RenewalContractLength</name>
        <dataType>Number</dataType>
        <expression>{!SourceContractEndDate}-{!SourceContractStartDate}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>RenewalContractStartDate</name>
        <dataType>Date</dataType>
        <expression>{!SourceContractEndDate}+1</expression>
    </formulas>
    <interviewLabel>Auto Create Renewal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Create Renewal</label>
    <loops>
        <name>Transfer_Brands_Retailers</name>
        <label>Transfer Brands/Retailers</label>
        <locationX>773</locationX>
        <locationY>415</locationY>
        <assignNextValueToReference>BrandRetailer</assignNextValueToReference>
        <collectionReference>SourceBrandsRetailers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Source_Brand_Retailer_to_Renewal</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateRenewalProducts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>TransferSourceProducts</name>
        <label>TransferSourceProducts</label>
        <locationX>235</locationX>
        <locationY>421</locationY>
        <assignNextValueToReference>SourceProduct</assignNextValueToReference>
        <collectionReference>SourceProductLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Source_Product_to_Renewal</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Brands_Retailers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Renewal_Brands_Retailers</name>
        <label>Create Renewal Brands/Retailers</label>
        <locationX>773</locationX>
        <locationY>182</locationY>
        <inputReference>RenewalBrandsRetailers</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Renewal_Opportunity</name>
        <label>Create Renewal Opportunity</label>
        <locationX>236</locationX>
        <locationY>183</locationY>
        <assignRecordIdToReference>RenewalOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>Opportunity_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>SourceAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Renew__c</field>
            <value>
                <elementReference>SourceAutoRenew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor_Source__c</field>
            <value>
                <elementReference>SourceCompetitorSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_End_Date__c</field>
            <value>
                <elementReference>RenewalContractEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Date__c</field>
            <value>
                <elementReference>RenewalContractStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>SourceLeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SourceOppOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Opportunity__c</field>
            <value>
                <elementReference>SourceOppId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>CreateRenewalProducts</name>
        <label>CreateRenewalProducts</label>
        <locationX>773</locationX>
        <locationY>299</locationY>
        <connector>
            <targetReference>Create_Renewal_Brands_Retailers</targetReference>
        </connector>
        <inputReference>RenewalProducts</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Brands_Retailers</name>
        <label>Brands/Retailers</label>
        <locationX>506</locationX>
        <locationY>418</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transfer_Brands_Retailers</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SourceOppId</elementReference>
            </value>
        </filters>
        <object>Brand_Retailer__c</object>
        <outputReference>SourceBrandsRetailers</outputReference>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Grab_Source_Opportunity_Data</name>
        <label>Grab Source Opportunity Data</label>
        <locationX>236</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Renewal_Opportunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SourceOppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>SourceAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SourceAutoRenew</assignToReference>
            <field>Auto_Renew__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SourceCompetitorSource</assignToReference>
            <field>Competitor_Source__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SourceContractEndDate</assignToReference>
            <field>Contract_End_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SourceContractStartDate</assignToReference>
            <field>Contract_Start_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SourceLeadSource</assignToReference>
            <field>LeadSource</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SourceOppOwner</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Opportunity_Products</name>
        <label>Opportunity Products</label>
        <locationX>235</locationX>
        <locationY>303</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TransferSourceProducts</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SourceOppId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>SourceProductLineItems</outputReference>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>One_Time_Fee__c</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <startElementReference>Grab_Source_Opportunity_Data</startElementReference>
    <variables>
        <name>BrandRetailer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Brand_Retailer__c</objectType>
    </variables>
    <variables>
        <name>RenewalBrandsRetailers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Brand_Retailer__c</objectType>
    </variables>
    <variables>
        <name>RenewalOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RenewalProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SourceAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SourceAutoRenew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SourceBrandsRetailers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Brand_Retailer__c</objectType>
    </variables>
    <variables>
        <name>SourceCompetitorSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SourceContractEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SourceContractStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SourceLeadSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Passed in from Closed Won Opportunity via &quot;Auto Renewal&quot; Process Builder.</description>
        <name>SourceOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SourceOppOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SourceProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SourceProductLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
