JOORSAND/src/flows/Pricing_Matrix_Number_Stamps-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Pricing Matrix Modified</label>
        </rules>
    </decisions>
    <description>Stamps a number into the corresponding number field for each component of the pricing matrix.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE(TEXT([Opportunity].of_SEASONS_per_year__c), &quot;1 to 2&quot;, 3, &quot;3 to 4&quot;, 4, &quot;4 to 6&quot;, 5, &quot;7+&quot;, 7, 0)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_8649009876</name>
        <dataType>Number</dataType>
        <expression>CASE(TEXT({!myVariable_current.of_SEASONS_per_year__c}), &quot;1 to 2&quot;, 3, &quot;3 to 4&quot;, 4, &quot;4 to 6&quot;, 5, &quot;7+&quot;, 7, 0)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE(TEXT([Opportunity].of_USERS__c ), &quot;1 to 5&quot;, 2, &quot;6 to 10&quot;, 3, &quot;11 to 20&quot;, 4, &quot;21 to 50&quot;, 6, &quot;51+&quot;, 8, 0)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_2202946796</name>
        <dataType>Number</dataType>
        <expression>CASE(TEXT({!myVariable_current.of_USERS__c} ), &quot;1 to 5&quot;, 2, &quot;6 to 10&quot;, 3, &quot;11 to 20&quot;, 4, &quot;21 to 50&quot;, 6, &quot;51+&quot;, 8, 0)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE(TEXT([Opportunity].Wholesale_VOLUME__c), &quot;&lt; 5M&quot;, 3, &quot;5 to 10M&quot;, 4, &quot;11 to 20M&quot;, 5, &quot;21 to 30M&quot;, 7, &quot;31 to 50M&quot;, 8, &quot;50M+&quot;, 10, 0)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A1_6967308307</name>
        <dataType>Number</dataType>
        <expression>CASE(TEXT({!myVariable_current.Wholesale_VOLUME__c}), &quot;&lt; 5M&quot;, 3, &quot;5 to 10M&quot;, 4, &quot;11 to 20M&quot;, 5, &quot;21 to 30M&quot;, 7, &quot;31 to 50M&quot;, 8, &quot;50M+&quot;, 10, 0)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE(TEXT([Opportunity].of_STOCKISTS__c), &quot;&lt; 100&quot;, 0.5, &quot;101 to 200&quot;, 1, &quot;201 to 350&quot;, 1.5, &quot;351 to 500&quot;, 2, &quot;501+&quot;, 2.5, 0)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_A1_8983530142</name>
        <dataType>Number</dataType>
        <expression>CASE(TEXT({!myVariable_current.of_STOCKISTS__c}), &quot;&lt; 100&quot;, 0.5, &quot;101 to 200&quot;, 1, &quot;201 to 350&quot;, 1.5, &quot;351 to 500&quot;, 2, &quot;501+&quot;, 2.5, 0)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
ISCHANGED([Opportunity].of_SEASONS_per_year__c),
ISCHANGED([Opportunity].of_USERS__c),
ISCHANGED([Opportunity].Wholesale_VOLUME__c),
ISCHANGED([Opportunity].of_STOCKISTS__c)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>OR(
ISCHANGED({!myVariable_current.of_SEASONS_per_year__c}),
ISCHANGED({!myVariable_current.of_USERS__c}),
ISCHANGED({!myVariable_current.Wholesale_VOLUME__c}),
ISCHANGED({!myVariable_current.of_STOCKISTS__c})
)</expression>
    </formulas>
    <interviewLabel>Pricing_Matrix_Number_Stamps-1_InterviewLabel</interviewLabel>
    <label>Pricing Matrix Number Stamps</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Matrix Numbers</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SEASONS Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>SEASONS_Number__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_8649009876</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>STOCKISTS Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>STOCKISTS_Number__c</field>
            <value>
                <elementReference>formula_5_myRule_1_A1_8983530142</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>USERS Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>USERS_Number__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_2202946796</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>VOLUME Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>VOLUME_Number__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A1_6967308307</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
